<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= cardName %>></title>
</head>
<body>
    <% for (let i = 0; i < cardData.length; i++) {%>
        <div>
            <% for (const prop in cardData[i]) { %>
                <div><b><%= prop %>:</b> <%= cardData[i][prop] %></div>
            <% } %>
        </div>
        <br>
    <% } %>
</body>
</html>