<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YGO Sampler</title>
</head>
<body>
    <h1>Welcome</h1>
    <p>Check your deck's consitency here</p>
    <form action="/deck/create" method="POST">
        <label>Name</label><input type="text" name="deckName"><br>
        <label>Main Deck List</label><br>
        <textarea name="deckList"  cols="50" rows="40">
            CARD_NAME NUMBER
        </textarea><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>