<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Decklist | <%= name %></title>
</head>
<body>
    <h2><%= name %> Decklist</h2>
    <h3>Main Deck</h3>
    <% for (let i = 0; i < deck.length; i++) { %>
        <div><%= deck[i] %></div>
    <% } %>
</body>
</html>