<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sample Hands</title>
</head>
<body>
    <h2>Sample Five Card Hands</h2>
    <div style="">
        <% for (let i = 0; i < hands.length; i++) { %>
            <h4 style="font-family:Georgia, 'Times New Roman', Times, serif">Sample Hand <%= i + 1 %></h4>
            <div style="display:grid;grid-template-columns:1fr 1fr 1fr 1fr 1fr;grid-gap:5px;border:2px solid black;padding: 8px;">
                <% for (let j = 0; j < hands[i].length; j++) { %>
                    <img src="<%= hands[i][j]['data']['art_small'] %>" alt="<%= hands[i][j]['name'] %>">
                <% } %>
            </div>
        <% } %>
    </div>
</body>
</html>